.App {
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 44vw;
  margin: 0 auto;
}

.card-description {
  
}

.card-list {
  color: cornflowerblue;
}

img {
  object-fit: cover;
  object-position: center;
  width: 38vw;
  height: 24vw;
}

p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}